body {
	margin: 0;
	padding: 0;	
	font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

footer {
  background-color: purple;
  padding: 3px;
  color: white;
  text-align: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-inner > .item > img {
  width: 100%;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;   
}

.carousel-control > .glyphicon-chevron-right:before , .carousel-control > .glyphicon-chevron-left:before {
  padding: 0.3em;
  background-color: purple;
}

.carousel-control > .glyphicon-chevron-right, .carousel-control > .glyphicon-chevron-left {
  font-size: 1em;
}

.carousel-control > .glyphicon-chevron-right {
  right: 10%;
}

.carousel-control > .glyphicon-chevron-left {
  left: 10%;
}


#navbar {
	position: fixed;
	top: 0;
	background-color: rgba(169, 30, 172, .8);
	border-radius: 0;
	padding: 0;
	height: 60px;
	z-index: 100;
}

.logo-container {
	height: 60px;
	line-height: 60px;
	padding: 0;
	text-align: center;
	display: block;
}

.nav-tab {
	height: 60px;
	line-height: 60px;
	padding: 0;
	text-align: center;
	display: block;
}

.hover-div {
	height: 60px;
	line-height: 60px;
	text-align: center;
	display: inline-block;
	padding: 0;
	margin-bottom: 0px;
}

.hover-div:hover {
	border-bottom: solid white;
}

.sub-tab {
	display: none;
	margin: 0;
}

.sub-tab-link {
	display: block;
	padding-bottom: 0;
	margin: 0;
	font-size: 13px;
    text-decoration: none;
	color: white;
	background-color: rgba(169, 30, 172, 1);
	
}

.sub-tab-link:hover {
	background-color: #921a99;
	text-decoration: none;
	color: white;
}

.religious-tab:hover .sub-tab {
	display: block;
}

.information-tab:hover .sub-tab {
	display: block;	
}

.nav-link {
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	text-decoration: none;
}

.nav-link:link {
	color: white;
	text-decoration: none;
}

.nav-link:visited {
	color: white;
	text-decoration: none;
}

.nav-link:hover {
	color: white;
	text-decoration: none;
}

.nav-link:active {
	color: white;
	text-decoration: none;
}

.toggle {
	display: none;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 0px;
}

#menu-icon {
	color: white;
	cursor: pointer;	
	padding-top: .7rem;
}

#toggle-menu {
	display: none;
	border: solid #921a99 1px;
	width: 300px;
	position: fixed;
	right: 0px;
	z-index: 3;
}

.toggle-tab {
	background-color: rgba(169, 30, 176, 1);
	height: 60px;
	line-height: 60px;
	padding: 0;
	border: solid #921a99 1px;
	text-align: center;
	width: 300px;
}

#toggle-sub-tab-one {
	background-color: rgba(169, 30, 176, 1);
	padding: 0;
	border: solid #921a99 1px;
	text-align: left;
	width: 300px;
	display: none;
}

#toggle-sub-tab-two {
	background-color: rgba(169, 30, 176, 1);
	padding: 0;
	border: solid #921a99 1px;
	text-align: left;
	width: 300px;
	display: none;
}

.toggle-sub-tab-link {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 12px;
	margin: 0;
	font-size: 13px;
    text-decoration: none;
	color: white;
	background-color: rgba(169, 30, 172, 1);
	border: solid #921a99 1px;
}

.toggle-sub-tab-link:link {
	color: white;
	text-decoration: none;
}

.toggle-sub-tab-link:visited {
	color: white;
	text-decoration: none;
}

.toggle-sub-tab-link:hover {
	color: white;
	text-decoration: none;
	background-color: #921a99;
}

.toggle-sub-tab-link:active {
	color: white;
	text-decoration: none;
}

.panel-image-container {
	padding: 0px;
	margin: 0px;
	height: auto;
}

.panel-image {
	width: 100%;
	height: auto;
}

.panel-text-container {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 10px;
}

.panel-text {
	text-align: left;
}

.panel-text > h1 {
	font-size: 2.8rem;
}

.panel-text > h1::after{
	display: block;
	content: '';
	width: 7rem;
	height: 3px;
	background: orange;
	margin-top: 15px;
	bottom: 0;
	text-align: left;
}

.panel-text > p {
	font-size: 1.8rem;
	letter-spacing: .1rem;
	padding-top: 1.4rem;

}

.panel-text > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: orange;
	cursor: pointer;
	
	
}

.contact-us-div {
	position: relative;
}

.temple-panel {
	margin: 0;
	padding: 0;
	min-height: 400px;
}

.temple-panel-container {
	margin: 0;
	background-image: url("img/bells.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	z-index: 4;
	min-height: 500px;
}

.temple-text {
	background-color: white;
	padding: 30px 80px 60px 80px;
}

.temple-text > p {
	font-size: 13px;
	letter-spacing: 1px;
}

.jumbo {
	padding: 0px 100px 100px 100px;
	background-color: rgb(241, 241, 241);
	text-align: center;
}

.jumbo > h1 {
	margin-bottom: 40px;
	margin-top: 30px
}

.jumbo > h1::after {
	display: block;
	content: '';
	width: 10%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 45%
}

.divcontent {
	height: 100px; 
	width: 200px; 
	display: none;
	border: solid orange 1px;
}

@media only screen and (max-width: 960px) {
	
	.jumbo {
		padding: 0px;
	}
	
}

@media only screen and (max-width: 1110px) {
	
	.temple-panel-container {
		min-height: 500px;
	}
	
	.temple-text {
		padding: 30px 50px 60px 50px;
	}
}

@media only screen and (max-width: 1200px) {
	
	.nav-tab {
		display: none;
	}
	
	.toggle {
		display: block;
	}

	#navbar {
		background-color: rgba(169, 30, 172, 1);
	}
}

@media only screen and (max-width: 1430px) {
	
	.contact-us-div {
		right: 15px;
	}
	
}


