<div id= "navbar" class="container-fluid col-xs-12">
  <div class="row" style="padding: 0; margin: 0;">
    <div class=" col-md-5 col-xs-6 logo-container">
    </div>  
    <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
      <div class="hover-div"><a class= "nav-link" href="index.html"> Home</a></div>
    </div>
    <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab information-tab">
      <div class= "hover-div"><a class= "nav-link" href="#"> Information</a></div>
      <div class="sub-tab">
        <a class="sub-tab-link" href="mission.html">Mission</a>
        <a class="sub-tab-link" href="guidelines.html">Guidelines</a>
        <a class="sub-tab-link" href="leadership.html">Leadership</a>
      </div>
    </div>
    <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
      <div class= "hover-div"><a class= "nav-link" href="donate.html"> Donate</a></div>
    </div>
      
    <div class="col-lg-1 hidden-xs hidden-sm hidden-md nav-tab religious-tab">
      <div class= "hover-div"><a class= "nav-link" href="religious.html"> Religious</a></div>
      <div class="sub-tab">
        <a class="sub-tab-link" href="priestservices.html">Priest Services</a>
        <a class="sub-tab-link" href="dietyservices.html">Diety Services</a>
        <a class="sub-tab-link" href="priestprofiles.html">Priest Profiles</a>
        <a class="sub-tab-link" href="#">Pooja Samagari</a>
      </div>
    </div>
    <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
      <div class= "hover-div"><a class= "nav-link" href="templeclasses.html"> Classes</a></div>
    </div>
    <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab">
      <div class= "hover-div"><a class= "nav-link" href="calendar.html"> Calendar</a></div>
    </div>
    <div class=" col-lg-1 hidden-xs hidden-sm hidden-md nav-tab" style="padding-right: 10px;">
      <div class= "hover-div"><a class= "nav-link" href="contactus.html"> Contact Us</a></div>
    </div>		
    <div class="col-md-7 col-xs-6 toggle">
      <div id= "menu-icon"><span id= "hamburger-menu" style="cursor: pointer;" class="glyphicon glyphicon-menu-hamburger" onclick="showMenu()"></span></div>
    </div>        
  </div>
</div>
<div id= "toggle-menu" class= "row container-fluid hidden-lg hidden-xl">
    <span id= "remove-icon" style="cursor: pointer;" class="glyphicon glyphicon-remove" onclick="hideMenu()"></span>
    <div  class= "toggle-tab row" style="cursor: pointer;">
      <a class= "toggle-nav-link" href= "index.html">Home</a>
    </div>
    <div id="toggle-information-tab" style="cursor: pointer;" class= "toggle-tab row">
      <a class= "toggle-nav-link" href= "#">Information</a>
    </div>        
    <div class="toggle-arrow-down">
    </div>
    <div id="toggle-sub-tab-one" class= "row">
      <a class="toggle-sub-tab-link" href="mission.html">Mission</a>
      <a class="toggle-sub-tab-link" href="guidelines.html">Guidelines</a>
      <a class="toggle-sub-tab-link" href="#">Leadership</a>
    </div>      
    <div  class= "toggle-tab row">
      <a class= "toggle-nav-link" href="donate.html">Donate</a>
    </div>
    <div id="toggle-religious-tab" style="cursor: pointer;" class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Religious</a>
    </div>
    <div class="toggle-arrow-down">
    </div>
    <div id="toggle-sub-tab-two" class= "row">
      <a class="toggle-sub-tab-link" href="priestservices.html">Priest Services</a>
      <a class="toggle-sub-tab-link" href="dietyservices.html">Diety Services</a>
      <a class="toggle-sub-tab-link" href="priestprofiles.html">Priest Profiles</a>
      <a class="toggle-sub-tab-link" href="#">Pooja Samagari</a>
    </div>        
    <div  class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Classes</a>
    </div>        
    <div  class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Calendar</a>
    </div>       
    <div  class= "toggle-tab row">
      <a class= "toggle-nav-link" href="#">Contact Us</a>
    </div>       
</div>
<div id="overlay" class="hidden-lg hidden-xl"></div>
