<!DOCTYPE html> 

<html> 
  <head> 
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500|Lato" rel="stylesheet">
		
    <link rel="stylesheet" href="{{absolute_prefix}}assets/css/main.css" text="text/css">
    

	
    <title>{{page_title}}</title>
    <!--[if lt IE 9 ]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
	
  </head>
	<body lang="en-US">
    {{> navbar}}
    {{> @partial-block}}
    {{> subscribe}}
    {{> footer}}
    <!-- Footer --> 
  </body> 
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- App Scripts -->
  <script src="{{absolute_prefix}}assets/js/menu.js"></script>
  <script src="{{absolute_prefix}}assets/js/daily-events.js"></script>
</html>
