<div class="container-fluid">
  <div class="slides-list">
    {{#each events}}
      <div class="slide-item">
        <h4>{{title}}</h4>
        <h5>{{time}}</h5>
        <p>{{description}}</p>
      </div>
    {{/each}}
  </div>
</div>
