{{#with data}}
<div class="container-fluid priest-jumbo">
	<div class="container">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" src="{{image}}" style="max-width: 400px; margin: 0 auto;"></img>
		</div>
		<div class="col-sm-6 col-xs-12 panel-text-header" >
			<h1 class="ul-left">{{title}}</h1>
			<p> {{text}} 
				<br><br>
				<span style="color: rgba(169, 30, 172, 1); font-size: 16px;" >
					{{subtext}}
				</span>
			</p>
		</div>
	</div>
	</div>
</div>
{{/with}}

