.btn-primary {
  background-color: orange;
  border-color: orange;
}

.btn-primary:hover {
  background-color: orange;
  border-color: orange;
}

.btn-lg {
	padding: 15px 60px;
	font-size: 20px;
	margin: 20px;
}
