.btn-primary {
  background-color: orange;
  border-color: orange;
}

.btn-primary:hover {
  background-color: orange;
  border-color: orange;
}

.donate-button {
	display: inline-block;
	padding: 15px 60px 15px 60px;
	text-align: center;
	background-color: orange;
	color: white;
	font-size: 20px;
	margin-top: 30px;
	border-radius: 5px;
}
