
.overlay {
	position:fixed;
	width: 100vw;
	height: 100vh;
  background-color: gray;
  opacity: .5;
  z-index: 40;
	display: none;
}

.center-align-absolute {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.navbar-default {
  font-weight: 500;
  background-color: rgba(169, 30, 172, 0.8);
  border: none;
  .navbar-nav>li:hover{
    background-color: rgba(169, 30, 172, 1);
  }
  .navbar-nav {
    li>a, .open>a  {
      background-color: transparent;
      color: white;
      &:hover {
        background-color: rgba(169, 30, 172, 1);
        color: white;
      }
    }
  }
  .dropdown-menu {
    @extend .center-align-absolute;
    background-color: rgba(169, 30, 172, 0.8);
    padding: 0px;
    min-width: 100%;
    text-align: center;
    border: none;
    border-radius: 0;
    li>a {
      padding: 20px;
    }
  }
}

nav{
  color: white;
  a, .caret {
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    &:link, &:visited {
      color: white;
    }
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.menu-icon {
  cursor: pointer;	
  height: 50px;
  line-height: 60px;
  padding: 0 20px;
}

.hamburger-menu {
  font-size: 18px;
  cursor: pointer;
}

.remove-icon {
  color: white;
  font-size: 20px;
  font-weight: 20;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
  -webkit-transition: color .3s;
  transition: color .3s;
  &:hover {
    color: orange;
  }
}

nav.toggle-menu {
  position: fixed;
  right: -300px;
  top: 0px;
  margin: 0px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(169, 30, 176, 1);
  width: 300px;
  z-index: 2001;
  padding: 50px 0 0 0;
  -webkit-transition: right .4s;
  transition: right .4s;
  font-size: 23px;
  &.active {
    right: 0px;
  }
  ul {
    list-style: none;
    padding: 0;
    a {
      display: inline-block;
    }
  }
  a{
    -webkit-transition: color .2s;
    transition: color .2s;
    &:hover {
      color: orange;
      -webkit-transition: color .2s;
      transition: color .2s;
    }
  }
  &>ul>li {
    border-left: 0px;
    -webkit-transition: border-left .2s;
    transition: border-left .2s;
    &:hover > a {
      border-left: solid orange 4px;
      -webkit-transition: border-left .2s;
      transition: border-left .2s;
    }
    & > a {
      padding: 4px 0 4px 40px;
    }
  }
  .toggle-sub-tab-menu {
    font-size: 20px;
    max-height: 0px;
    text-align: center;
    background-color: rgb(192, 34, 195);
    position: relative;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
    &::before {
      margin: 0 auto;
      width: 0;
      content: '';
      display: block;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 20px solid rgba(169, 30, 176, 1);
      position: relative;
    }
    li > a {
      padding: 10px 0;
    }
  }
}


.toggle-tab.active > .toggle-sub-tab-menu {
  transition: max-height 0.3s ease-in;
  height: auto;
  max-height: 100vh;
}


@media only screen and (max-width: 1200px) {
  .navbar-default {
    background-color: rgba(169, 30, 172, 1);
	}
}
