

.mid-bold {
  font-weight: 500;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: white;
}

.bg-purple {
  background-color: rgba(169, 30, 172, 1);
  color: white;
}

.bg-dark {
	background-color: #f8f8f9; 
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}



.flex-col {
  flex-direction: column;
}

@each $size, $ratio in (xs: 1, sm: 3, md: 6, lg: 8, xl: 12) {
  .vmargin-#{$size} { margin-top: 1em * $ratio ; margin-bottom: 1em * $ratio; }
  .hmargin-#{$size} { margin-left: 1em * $ratio ; margin-right: 1em * $ratio; }
  .margin-#{$size} { @extend .vmargin-#{$size}; @extend .hmargin-#{$size}; }
}


.md-padding {
  padding: 30px;
}

/*
*/
.sm-padding-right {
  padding-right: 15px;
}

.no-pad-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.underline-header {
	color: black;
	font-size: 35px;
	margin-bottom: 30px;
}

.underline-header::after {
	display: block;
	content: '';
	width: 20%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 40%
}

.diety-table-container {
	margin-top: 50px;
	padding: 0;
	overflow-x: auto;
	text-align: center;
}

.panel-image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.panel-text-container {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 10px;
}

.panel-text {
	background-color: white;
	text-align: left;
}


.panel-text > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: orange;
	cursor: pointer;
}

.contact-us-div {
	position: relative;
}



.jumbo {
	padding: 0px 100px 100px 100px;

  .content-block {
    padding: 30px 70px;
  }
}



.ul-center::after {
	display: block;
	content: '';
	width: 10%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 45%;
}

.ul-left::after {
  display: block;
  content: '';
  width: 7rem;
  height: 3px;
  background: orange;
  margin-top: 15px;
  bottom: 0;
  text-align: left;
}


.priest-table-container {
	margin-top: 50px;
	padding: 0;
	overflow-x: auto;
	text-align: center;
}

.priest-table-container > h1 {
	margin-bottom: 40px;
	margin-top: 10px;
	font-size: 30px;
}

.priest-table {
	margin: 0; 
	padding: 0; 
	min-width: 600px; 
	border-bottom: solid rgb(221, 221, 221) 1px;
	border-right: none;
	border-top: none;
}

.priest-table > tbody {
    display: block;
    max-height: 550px;
    overflow: auto;
}

.priest-table > thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.priest-table > tbody > tr > td {
    vertical-align: middle;
	text-align: center;
	font-size: 15px;
	border-bottom: none;
	border-top: none;
}

.priest-table > thead > tr > th {
    vertical-align: middle;
	text-align: center;
	border: solid rgba(169, 30, 172, 1) 2px;
	color: white;
	letter-spacing: .5px;
	font-size: 17px;
	font-weight: 300;
}

.diety-table {
	min-width: 600px;
	max-height: 1000px;
	overflow-x: scroll;
	overflow-y: scroll;
}

.diety-table > thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.diety-table > thead > tr > th {
    vertical-align: middle;
	text-align: center;
	border: solid rgba(169, 30, 172, 1) 2px;
	color: white;
	letter-spacing: .5px;
	font-size: 17px;
	font-weight: 300;
}

.table-stripes {
	background-color: rgba(255, 156, 0, .4);
}

.table-stripes > td {
	border-right: solid orange 1px;
	border-left: solid orange 1px;
}

.normal > td {
	border-right: solid rgb(221, 221, 221) 1px;
	border-left: solid rgb(221, 221, 221) 1px;
}

.table-comment-text {
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: left;
}

.table-comment-text > p {
	font-size: 15px;
	line-height: 200%;
	color: rgba(169, 30, 172, 1);
}

.priest-jumbo {
	padding: 75px 100px 50px 100px;
	background-color: #f8f8f9;
	text-align: center;	
}

#services-image-container {
	padding-left: 100px;
}

.panel-text-header {
	padding: 0;
	text-align: left;
	background-color: #f8f8f9;
	padding: 0 50px 0 50px;
	line-height: 200%;
}

.panel-text-header > h1 {
	font-size: 3.2rem;
}

.panel-text-header > p {
	margin-top: 20px;
}

.panel-text-header > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: orange;
	cursor: pointer;
}

.profile-container {
	margin-top: 80px;
	margin-bottom: 60px;

}

.profile-panel {
	text-align: center;
	margin: 0;
	border: solid #f8f8f9 1px;
}

.profile-panel-header {
	height: 180px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(169, 30, 172, 1);
	z-index: -40;
	margin: 0;
	padding: 0;
}

.profile-panel-header > h1 {
	color: white;
	font-size: 35px;
}

.profile-panel-header > h1::after {
	display: block;
	content: '';
	width: 20%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 40%
}

.profile-img {
	padding: 4px;
	display: inline-block;
	margin-top: 100px;
	background-color: white;
	border-radius: 50%;
}

.profile-table {
	max-width: 450px;
	margin: auto;
	margin-top: 20px;
}

.profile-table > tbody {
    display: block;
	height: 300px;
    overflow: auto;
}

.profile-table > tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#samagri-container {
	padding: 0 40px 0 40px;
	margin-top: 40px;
}

.samagri-row {
	padding: 0;
	margin: 0 0 20px 0;
}

.samagri-panel {
	text-align: center;
	margin-bottom: 10px;
	border: solid #f8f8f9 1px;
}

.samagri-panel-header {
	height: 180px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(169, 30, 172, 1);
	z-index: -40;
	margin: 0;
	padding: 0;
}

.samagri-panel-header > h1 {
	color: white;
	font-size: 30px;
}

.samagri-panel-circle {
	height: 130px; 
	width: 130px; 
	border-radius: 50%; 
	background-color: #f8f8f9; 
	display: inline-block; 
	margin-top: 100px; 
	border: solid white 7px; 
	text-align: center; 
	font-size: 30px; 
	line-height: 110px;
}

.samagri-panel-circle:hover {
	width: 140px;
	line-height: 120px;
	background-color: rgba(169, 30, 172, 1);
	-webkit-transition: background-color 2s;
	transition: background-color 2s;

}

.samagri-link:link {
	color: black;
}

.samagri-link:visited {
	color: black;
	text-decoration: none;
}

.samagri-link:hover {
	color: black;
	text-decoration: none;
}

.samagri-link:active {
	color: black;
	text-decoration: none;
}

.samagri-table {
	max-width: 450px;
	margin: auto;
	margin-top: 20px;
}

.samagri-table > tbody {
  display: block;
  height: 220px;
  overflow: auto;
}

.samagri-table > tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@media only screen and (max-width: 600px) {
	.opening-image {
		background-position: center;
	}
}

@media only screen and (max-width: 960px) {
	
	.jumbo {
		padding: 0px;
	}
	
	#listbox-container {
		min-height: 0px;
	}

	.profile-container {
		padding: 0 10px;
	}
	
	
}

@media only screen and (max-width: 1110px) {
	
	.temple-panel-container {
		min-height: 500px;
	}
	
	.temple-text {
		padding: 30px 50px 60px 50px;
	}
	
	.panel-text-header > h1 {
		font-size: 2.8rem;
	}

	.panel-text-header > p {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 1200px) {
	
	.opening-image {
		margin-top: 60px;
	}
	
	.priest-jumbo {
		padding: 40px 0 40px 0;
	}
	
	#services-image-container {
		padding-left: 10px;
	}
	
}

@media only screen and (max-width: 1430px) {
	
	.contact-us-div {
		right: 15px;
	}
	
}

