

.mid-bold {
  font-weight: 500;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.md-padding {
  padding: 30px;
}

/*
.fc-content {
  padding: 3px;
  background-color: rgba(169, 30, 172, 1);
  border: none;
}

.fc-event {
  background-color: white;
  border: none;
}
*/
#contact-container .glyphicon {
  padding-right: 15px;
}


.panel-image-container {
	padding: 0px;
	margin: 0px;
	height: auto;
}

.panel-image {
	width: 100%;
	height: auto;
}

.panel-text-container {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 10px;
}

.panel-text {
	background-color: white;
	padding: 0;
	text-align: left;
}

.panel-text > h1 {
	font-size: 2.8rem;
}

.panel-text > h1::after{
	display: block;
	content: '';
	width: 7rem;
	height: 3px;
	background: orange;
	margin-top: 15px;
	bottom: 0;
	text-align: left;
}

.panel-text > p {
	font-size: 1.8rem;
	letter-spacing: .1rem;
	padding-top: 1.4rem;
}

.panel-text > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: orange;
	cursor: pointer;
}

.temple-text {
	background-color: white;
	padding: 0;
	text-align: left;
}

.temple-text > h1 {
	font-size: 2.8rem;
}

.temple-text > h1::after{
	display: block;
	content: '';
	width: 7rem;
	height: 3px;
	background: orange;
	margin-top: 15px;
	bottom: 0;
	text-align: left;
}

.temple-text > p {
	font-size: 1.2rem;
	letter-spacing: .1rem;
	padding-top: 1.4rem;
}

.temple-text > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: orange;
	cursor: pointer;
}

.contact-us-div {
	position: relative;
}

.temple-panel {
	margin: 0;
	padding: 0;
	min-height: 400px;
}

.temple-panel-container {
	margin: 0;
	background-image: url("img/bells.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 0;
	z-index: 4;
	min-height: 500px;
}

.jumbo {
	padding: 0px 100px 100px 100px;
	background-color: #f8f8f9;
	text-align: center;
}

.jumbo > h1 {
	margin-bottom: 40px;
	margin-top: 30px
}

.jumbo > h1::after {
	display: block;
	content: '';
	width: 10%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 45%
}

#dailyevents-container {
	margin: 0;
	padding: 70px;
	background-color: rgb(241, 241, 241);
}

#listbox-container {
	margin: 0;
	min-height: 300px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
  padding-bottom: 20px;
	text-align: center;
	background-color: rgba(169, 30, 172, 1);
}

#listbox-container > form {
}

#listbox-label { 
	margin-top: 10px;
	margin-bottom: 7px; 
	font-family: 'Hind', sans-serif; 
	font-weight: normal;
	font-size: 1.6rem;
	color: white;
}


#eventbox-container {
	margin: 0;
	text-align: center;
	height: 300px;
	background-color: white;
}
.divcontent {
	display: none;
	height: 300px;
	margin: 0;
  padding-top: 20px;
}

.divcontent-text {
	font-size: 2rem; 
	margin-top: 40px;
}

.divcontent > h1::after {
	display: block;
	content: '';
	width: 10%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 45%;
}


.mission-container {
	padding: 0;
	margin-top: 70px;
}

.mission-text {
	margin: 0;
	padding: 10px 50px 10px 50px;
	text-align: left;
}

.mission-text > h1::after {
	display: block;
	content: '';
	width: 50px;
	height: 3px;
	background: rgba(169, 30, 172, 1);
	margin-top: 10px;
}

.mission-text > p {
	font-size: 16px;
	margin: 30px 10px 0px 0px;
	letter-spacing: .1rem;
}

#mission-image {
	margin-top: 30px;
	min-height: 230px;
	background-image: url("img/beads.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#objective-image {
	margin-top: 50px;
	min-height: 310px;
	background-image: url("img/bells.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#guidelines-container{
	margin-top: 50px;
}

#guidelines-textbox {
	padding: 10px 100px 10px 40px;
	text-align: left;
}

#guidelines-textbox > h1::after {
	display: block;
	content: '';
	width: 50px;
	height: 3px;
	background: rgba(169, 30, 172, 1);
	margin-top: 10px;
}

#guidelines-textbox > p{
	font-size: 16px;
	letter-spacing: .1rem;
	margin-top: 20px;
}

.opening-image {
	margin: 0;
	padding: 0;
}

#opening-text-box {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#opening-text {
	margin: 0;
	padding: 30px 50px 0px 50px;
	color: white;
}

#opening-text-inline {
	padding: 20px;
	margin: 0px;
	display: inline block;
	background-color: rgba(169, 30, 172, .8);
}

#opening-text-inline > h1::after{
	display: block;
	content: '';
	width: 20%;
	height: 3px;
	background: orange;
	margin-top: 12px;
	margin-bottom: 20px;
	bottom: 0;
	text-align: left;
}

#opening-text-inline > p {
	font-size: 18px;
	letter-spacing: 1px;	
}

#opening-text-inline > a {
	font-size: 20px;
	color: orange;
	letter-spacing: 1px;
	cursor: pointer;
}

.donate-icon-container{
	width: 100%;
	padding: 70px 130px 70px 130px;
}

.donate-icon{
	text-align: center;
	margin: 0;
}

.donate-icon > h1{
	color: rgba(169, 30, 172, 1);
	font-size: 26px;
	margin: 30px 0 20px 0;
}

.donate-icon > p {
	font-size: 17px;
	letter-spacing: 1px;
	margin: 5px 20px 0 20px;
	text-align: center;
	font-weight: 400;

}

.donor-container {
	background-color: #f8f8f9;
	min-height: 360px;
}

.donor-image-container {
	margin: 0;
	background-image: url("img/donors.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	z-index: 4;
	min-height: 360px;
}

.donor-text-container {
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 10px;
}

.donor-text {
	text-align: left;
}

.donor-text > h1 {
	font-size: 2.8rem;
}

.donor-text > h1::after{
	display: block;
	content: '';
	width: 7rem;
	height: 3px;
	background: rgba(169, 30, 172, 1);
	margin-top: 15px;
	bottom: 0;
	text-align: left;
}

.donor-text > p {
	font-size: 1.8rem;
	letter-spacing: .1rem;
	padding-top: 1.4rem;
}

.donor-text > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: rgba(169, 30, 172, 1);
	cursor: pointer;
}

.vision-container {
	margin: 0;
	padding:0;
}

.vision-text {
	text-align: center;
	padding: 50px;
}

.vision-text > h1 {
	font-size: 60px;
}


.vision-text > h1::after{
	display: block;
	content: '';
	width: 20%;
	height: 1px;
	background: orange;
	position: absolute;
	left: 40%;
	margin-top: 50px;
}

.vision-text > h3 {
	margin-top: 100px;
	font-size: 28px;
}


.membership-container {
	background-color: rgba(169, 30, 172, 1);
	padding: 30px;
	margin: 0;
}

.membership-text {
	text-align: center;
	padding: 20px;
}

.membership-text > h1 {
	font-size: 25px;
	color: white;
}

.membership-icon {
	margin: 10px;
}

.priest-table-container {
	margin-top: 50px;
	padding: 0;
	overflow-x: auto;
	text-align: center;
}

.priest-table-container > h1 {
	margin-bottom: 40px;
	margin-top: 10px;
	font-size: 30px;
}

.priest-table-container > h1::after {
	display: block;
	content: '';
	width: 10%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 45%
}

.priest-table {
	margin: 0; 
	padding: 0; 
	min-width: 600px; 
	border-bottom: solid rgb(221, 221, 221) 1px;
	border-right: none;
	border-top: none;
}

.priest-table > tbody {
    display: block;
    height: 550px;
    overflow: auto;
}

.priest-table > thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.diety-table > thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.priest-table > tbody > tr > td {
    vertical-align: middle;
	text-align: center;
	font-size: 15px;
	border-bottom: none;
	border-top: none;
}

.priest-table > thead > tr > th {
    vertical-align: middle;
	text-align: center;
	border: solid rgba(169, 30, 172, 1) 2px;
	color: white;
	letter-spacing: .5px;
	font-size: 17px;
	font-weight: 300;
}

.diety-table > thead > tr > th {
    vertical-align: middle;
	text-align: center;
	border: solid rgba(169, 30, 172, 1) 2px;
	color: white;
	letter-spacing: .5px;
	font-size: 17px;
	font-weight: 300;
}

.table-stripes {
	background-color: rgba(255, 156, 0, .4);
}

.table-stripes > td {
	border-right: solid orange 1px;
	border-left: solid orange 1px;
}

.normal > td {
	border-right: solid rgb(221, 221, 221) 1px;
	border-left: solid rgb(221, 221, 221) 1px;
}

.table-comment {
	margin-top: 20px;
	margin-bottom: 40px;
}

.table-comment-text > p {
	font-size: 15px;
	line-height: 200%;
	color: rgba(169, 30, 172, 1);
}

.priest-jumbo {
	padding: 75px 100px 50px 100px;
	background-color: #f8f8f9;
	text-align: center;	
}

#services-image-container {
	padding-left: 100px;
}

.panel-text-header {
	padding: 0;
	text-align: left;
	background-color: #f8f8f9;
	padding: 0 50px 0 50px;
	line-height: 200%;
}

.panel-text-header > h1 {
	font-size: 3.2rem;
}

.panel-text-header > h1::after{
	display: block;
	content: '';
	width: 20%;
	height: 3px;
	background: rgba(169, 30, 172, 1);
	margin-top: 15px;
	text-align: left;
}

.panel-text-header > p {
	font-size: 20px;
	letter-spacing: .1rem;
	padding-top: 1.4rem;
	margin-top: 20px;
}

.panel-text-header > a {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	color: orange;
	cursor: pointer;
}

#samagri-container {
	padding: 0 40px 0 40px;
	margin-top: 40px;
}

.samagri-row {
	padding: 0;
	margin: 0 0 20px 0;
}

.samagri-panel {
	text-align: center;
	margin: 0;
	border: solid #f8f8f9 1px;
}

.samagri-panel-header {
	height: 180px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(169, 30, 172, 1);
	z-index: -40;
	margin: 0;
	padding: 0;
}

.samagri-panel-header > h1 {
	color: white;
	font-size: 30px;
}

.samagri-panel-header > h1::after {
	display: block;
	content: '';
	width: 20%;
	height: 3px;
	background: orange;
	margin-top: 10px;
	position: absolute;
	left: 40%
}

.samagri-panel-circle {
	height: 130px; 
	width: 130px; 
	border-radius: 50%; 
	background-color: #f8f8f9; 
	display: inline-block; 
	margin-top: 100px; 
	border: solid white 7px; 
	text-align: center; 
	font-size: 30px; 
	line-height: 110px;
}

.samagri-table {
	max-width: 450px;
	margin: auto;
	margin-top: 20px;
}

.samagri-table > tbody {
  display: block;
	height: 220px;
  overflow: auto;
}

.samagri-table > tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@media only screen and (max-width: 600px) {
	
	#dailyevents-container {
		padding: 0px;
	}
	
	.opening-image {
		background-position: center;
	}
}

@media only screen and (max-width: 960px) {
	
	.jumbo {
		padding: 0px;
	}
	
	#listbox-container {
		min-height: 0px;
	}

	.profile-container {
		padding: 0 10px 0 10px;
	}
	
	
}

@media only screen and (max-width: 1110px) {
	
	.temple-panel-container {
		min-height: 500px;
	}
	
	.temple-text {
		padding: 30px 50px 60px 50px;
	}
	
	.donate-icon-container{
		padding: 70px 10px 70px 10px;
	}
	
	.panel-text-header > h1 {
		font-size: 2.8rem;
	}

	.panel-text-header > p {
		font-size: 16px;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 1200px) {
	
	#navbar {
		background-color: rgba(169, 30, 172, 1);
	}
	
	.toggle {
		display: block;
	}
	
	.nav-tab {
		display: none;
	}
	
	.opening-image {
		margin-top: 60px;
	}
	
	#home-carousel {
		margin-top: 60px;
	}
	
	.priest-jumbo {
		padding: 40px 0 40px 0;
	}
	
	#services-image-container {
		padding-left: 10px;
	}
	
}

@media only screen and (max-width: 1430px) {
	
	.contact-us-div {
		right: 15px;
	}
	
}

.subscribe {
  padding: 10px;
}



